/* CUSTOM-PROPS */
:root {
  --accent-color: #5267df;
  --red-color: #fa5959;
  --black-color: #242a45;
  --text-color-75: rgba(36, 42, 69, 0.75);
  --text-color-50: rgba(36, 42, 69, 0.5);
}


/* FONTS */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
  url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  background-color: #fff;
  color: var(--text-color-50);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* BUTTON */
.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 22px;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  font-size: 14px;
  line-height: 28px;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 0.25px;
  white-space: nowrap;
  text-align: center;
}

.button:active {
  opacity: 0.6;
}

.button--red {
  background-color: var(--red-color);
  color: #fff;
}

.button--red:hover {
  background-color: #fff;
  color: var(--red-color);
  border-color: var(--red-color);
}

.button--site-header {
  padding: 10px 31px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}

.button--blue {
  background-color: var(--accent-color);
  color: #fff;
}

.button--blue:hover {
  background-color: #fff;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.button--grey {
  background-color: #f7f7f7;
  color: var(--black-color);
}

.button--grey:hover {
  background-color: #fff;
  color: var(--black-color);
  border-color: #5b6074;
}

.button-block {
  display: block;
  width: 100%;
}


/* LOGO */
.logo {
  display: block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.8;
}

.logo__img {
  display: block;
  width: 149px;
  height: 25px;
  flex-shrink: 0;
  object-fit: contain;
}

/* SITENAV */
.sitenav {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 17px;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.site-header__sitenav {
  margin-right: 48px;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 44px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--black-color);
}

.sitenav__link:hover {
  color: var(--red-color);
}

.sitenav__link:active {
  opacity: 0.6;
}


/* SECTION */
.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section__info {
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  font-weight: 500;
  color: var(--black-color);
}

.section__discription {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--text-color-50);
}


/* FEATURE-TAB-PANEL */
.feature-tab-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-tab-panel__img {
  margin-right: 30px;
  object-fit: contain;
}

.feature-tab-panel__info {
  max-width: 445px;
}

.feature-tab-panel__title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--black-color);
  font-size: 32px;
  line-height: 52px;
  font-weight: 500;
  letter-spacing: -0.1px;

}

.feature-tab-panel__text {
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--text-color-50);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}


/* TABS */
.tabs__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs__item {
  width: 243px;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20);
}

.tabs__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-75);
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: 4px solid transparent;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.5px;
}

.tabs__item--active .tabs__link{
  color: var(--black-color);
  border-color: var(--red-color);
}

.tabs__link:hover {
  color: var(--red-color);
}

.tabs__link:active {
  opacity: 0.6;
}

.tabpanels {
  padding-top: 75px;
  padding-bottom: 165px;
  background-image: url(../img/blue-pill-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 580px) 156px;
}

.tabpanels__item {
  display: none;
}

.tabpanels__item--active {
  display: block;
}



/* SITE-HEADER */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  text-transform: uppercase;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: auto;
}


/* HERO */
.hero {
  padding-top: 66px;
  padding-bottom: 105px;
  background-image: url(../img/blue-pill-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 705px) 200px;
}

.hero__container {
  display: flex;
  align-items: flex-start;
}

.hero__info {
  width: 100%;
  max-width: 540px;
  margin-top: 66px;
  margin-right: 65px;
  flex-shrink: 0;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--black-color);
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
  letter-spacing: -0.15px;
  text-transform: capitalize;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--text-color-50);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.hero__buttons:not(:last-child) {
  margin-right: 16px;
}

.hero__img {
  width: 578px;
  height: 385px;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* FEATURES */
.features__section-info {
  margin-bottom: 44px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
